@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #29A6DE;
  --color-brand-hover: #1e8fbd;
  --color-brand-light: #F4FBFF;
  --color-text-main: #1A1A1A;
  --color-text-muted: #555555;
  --color-alert: #E53E3E;
  
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Syne", ui-sans-serif, system-ui, sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
